<div class="flex justify-center">
    <div class="flex flex-col justify-around text-center">
        <h1 class="text-3xl font-bold">休日スケジュール</h1>
        <h2 class="text-xl">休日スケジュール投稿アプリ</h2>
        <p class="text-xl">あなたがおすすめする休日をシェアしよう</p>
    </div>
    <%= image_tag 'time_image.png', class: 'w-80' %>
</div>
<div class="text-center">
    <%= link_to 'みんなのスケジュール', schedules_path, class: 'btn btn-primary' %>
    <%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-primary' %>
</div>


