
<div class="bg-primary-content min-h-screen">
    <div class="container w-1/4 mx-auto pt-40">
        <h1 class="text-3xl my-4">パスワードリセット</h1>
        <%= form_with url: password_resets_path, local: true do |f| %>
            <div class="form-group">
                <%= f.label :email, User.human_attribute_name(:email) %>
                <%= f.email_field :email, class: 'input input-bordered input-primary w-full max-w-xs' %>
            </div>
            <div class="ml-auto mt-4 flex justify-end">
                <%= f.submit 'メールアドレスを送信する', class: 'btn btn-primary text-white' %>
            </div>
        <% end %>
    </div>
</div>
