<div class="<%= dom_id(schedule, :favorite) %>">
  <div class="mt-2">
    <div class="flex justify-end mr-2 my-2 gap-2">
      <%= link_to schedule_favorites_path(schedule_id: schedule.id), data: { turbo_method: :delete } do %>
          <%= icon(name: "favorited") %>
      <% end %>
      <%= schedule.favorites.count %>
    </div>
  </div>
</div>
