<%= turbo_frame_tag dom_id(schedule, :favorite) do%>
  <div class="border-t-4 border-primary mt-2">
    <div class="flex justify-end mr-2 my-2">
      <%= link_to schedule_favorites_path(schedule_id: schedule.id), data: { turbo_method: :delete } do %>
          <span style="color:red;"> <svg style="color: red" xmlns="http://www.w3.org/2000/svg" class="mr-2 -ml-1 w-6 h-6" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" /></svg></span>
      <% end %>
    </div>
  </div>
<% end %>


