<div class="<%= dom_id(schedule, :try) %>">
    <div class="flex gap-2">
      <%= link_to schedule_tries_path(schedule_id: schedule.id), class: 'bg-primary border-2 border-primary leading-none text-white rounded-lg z-10', data: { turbo_method: :delete } do %>
          <span class="font-sans text-sm font-bold"><%= t('defaults.try') %></span>
      <% end %>
      <%= schedule.tries.count %>
    </div>
</div>
