<%= turbo_frame_tag dom_id(@schedule, :edit) do %>
    <div class="container bg-primary-content">
        <div class="flex flex-col gap-4 text-black items-center my-8">
            <%= render 'form', schedule: @schedule %>
            <%= link_to t('defaults.cansel'), schedule_path(@schedule), class: 'btn w-32 ml-32 md:w-48 md:ml-48 text-white', data: { turbo_frame: dom_id(@schedule, :edit) } %>
        </div>
    </div>
<% end %>
