<%= turbo_frame_tag dom_id(@schedule, :edit) do %>
    <%= form_with model: @schedule, local: true do |f| %>
        <div data-controller="form">
            <div class="bg-primary-content">
            <div class="flex justify-end">
                <%= link_to schedule_path(@schedule), data: { turbo_frame: dom_id(@schedule, :edit) } do %>
                    <span class="btn btn-error">キャンセル</span>
                <% end %>
            </div>

                <%= form_with model: @schedule do |f| %>
                    <% render 'form', f: f %>
                <% end %>

            </div>
        </div>
    <% end %>
<% end %>
