<%= render 'search', q: @q %>
<div class="flex flex-wrap gap-4 justify-center">
    <% @schedules.each do |schedule|%>
        <%= render 'shared/schedules_card', schedule: schedule %>
    <% end %>
</div>

<div class="text-center my-8">
 <%= paginate(@schedules) %>
 </div>