<header class="mb-10">
    <div class="navbar bg-primary text-white">
        <div class="flex-1">
            <%= link_to "休日スケジュール", top_path, {class:"btn btn-ghost normal-case text-xl"} %>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            <li><%= link_to "ユーザー登録", new_user_path, {class: "btn btn-secondary mr-2"} %></li>
            <li><%= link_to "ログイン", login_path, {class: "btn btn-secondary"} %></li>
            </ul>
        </div>
    </div>
</header>