<footer class="mt-10">
    <div class="navbar bg-primary text-white flex-row-reverse">
        <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><%= link_to "利用規約", terms_of_service_path %></li> 
            <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
        </ul>
        </div>
    </div>
</footer>
