<div class="nested-fields bg-secondary mb-10 grid grid-cols-8 grid-rows-8 gap4 p-5"> 
    <div class="field row-start-1 col-start-1">
        <%= kf.check_box :three_main_events, {checked: true, class: "checkbox bg-white"}, true, false%>
    </div>

    <div class="field row-start-1 col-start-2">
        <%=kf.time_select :start_time, prompt: true, ignore_date: true, minute_step: 15%>
    </div>

    <div class="field row-start-1 col-start-3">
        <%=kf.time_select :end_time,  prompt: true, ignore_date: true, minute_step: 15%>
    </div>

    <div class="field form-control row-start-1 col-start-5 col-span-3">
        <p class="primary-content">就寝</p>
        <%= kf.hidden_field :event_title, :value => '就寝'%>
    </div>
</div>