@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'swiper/swiper-bundle.css';
.index-swiper {
    width: 200px;
    height: 150px;
  }

  .show-swiper {
    width: 500px;
    height: 300px;
  }