@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'swiper/swiper-bundle.css';
.index-swiper {
    width: 200px;
    height: 200px;
  }

  .show-swiper {
    width: 400px;
    height: 400px;
  }