<div class="card w-96 m-auto">
    <div class="flex flex-col w-full">
        <div class="grid card bg-base-300 rounded-box place-items-center">
            <p>ログイン</p>
            <%= link_to "メールアドレスでログイン", login_mail_path ,{class: "btn w-80 my-4"} %>
        </div> 
        <div class="divider"></div> 
        <div class="grid card bg-base-300 rounded-box place-items-center">
            <p>アカウントをお持ちでない方</p>
            <%= link_to "会員登録", new_user_path, {class: "btn btn-outline btn-secondry w-80 my-4"} %>
        </div>
    </div>
</div>
